{# src/NAO/SiteBundle/Resources/views/Site/footer.html.twig #}
<section class="about page" id="ABOUT">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <!-- ABOUT US SECTION TITLE-->
                <div class="section_title">
                    <h2>Qu'est-ce que NAO ?</h2>
                    <p>Nos Amis les Oiseaux (NAO) est une application participative web & mobile spécialement conçue pour les passionnés d'ornithologie et les naturalistes. Elle vous permet d'indiquer au cours de vos promenades les lieux où vous avez observé des oiseaux.‌ <br><br>S'inscrire sur NAO, c'est également partciper à un programme de recherche visant à étudier les effets du climat, de l’urbanisation et de l’agriculture sur la biodiversité.</br></br></p>

                    </p>
                </div>
            </div>

        </div>
    </div>
    <div class="inner_about_area">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="about_phone wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".5s">
                        <!-- PHONE -->
                        <img src="{{ asset('images/about_iphone.png') }}" alt="">
                    </div>
                </div>
                <div class="col-md-6  wow fadeInRight" data-wow-duration="1s" data-wow-delay=".5s">
                    <!-- TITLE -->
                    <div class="inner_about_title">
                        <h2>Ce que vous pourrez faire avec <br> NAO</h2>
                        <p>Découvrez les principales fonctionnalités de l'application :</p>
                    </div>
                    <div class="inner_about_desc">

                        <!-- SINGLE DESC -->
                        <div class="single_about_area fadeInUp wow" data-wow-duration=".5s" data-wow-delay="1s">
                            <!-- ICON -->
                            <div><i class="pe-7s-timer"></i></div>
                            <!-- HEADING DESCRIPTION -->
                            <h3>Recherchez des oiseaux parmi des milliers d'espèces différentes</h3>
                            <p>Consultez la carte intéractive vous indiquant leur localisation précise</p>
                        </div>
                        <!-- END SINGLE DESC -->


                        <!-- SINGLE DESC -->
                        <div class="single_about_area fadeInUp wow" data-wow-duration=".5s" data-wow-delay="1.5s">
                            <!-- ICON -->
                            <div><i class="pe-7s-target"></i></div>
                            <!-- HEADING DESCRIPTION -->
                            <h3>Saisissez vos observations sur le terrain,</h3>
                            <p> Et devenez vous aussi acteur du patrimoine ornithologique.</p>
                        </div>
                        <!-- END SINGLE DESC -->


                        <!-- SINGLE DESC -->
                        <div class="single_about_area fadeInUp wow" data-wow-duration=".5s" data-wow-delay="2s">
                            <!-- ICON -->
                            <div><i class="pe-7s-stopwatch"></i></div>
                            <!-- HEADING DESCRIPTION -->
                            <h3>Soyez au contact des professionnels</h3>
                            <p>Des naturalistes expérimentés répondent à vos questions.</p>
                        </div>
                        <!-- END SINGLE DESC -->

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="video_area">
        <div class="container">
            <div class="row">
                <div class="col-md-6 wow fadeInLeftBig">
                    <!-- VIDEO LEFT TITLE -->
                    <div class="video_title">
                        <h2>Best App <br>in the market</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip</p>
                    </div>
                    <div class="video-button">
                        <!-- BUTTON -->
                        <a class="btn btn-primary btn-video" href="#FEATURES" role="button">Features</a>
                    </div>
                </div>
                <div class="col-md-6 wow fadeInRightBig">
                    <!-- VIDEO -->
                    <div class="video">
                        <iframe src="https://player.vimeo.com/video/88209254?title=0&amp;byline=0&amp;portrait=0&amp;color=cc0000" width="560" height="315"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End About Us -->
