{% extends 'base.html.twig' %}

{% block body %}

    <H1>Ajouter une Observation</H1>


    <div class="well">
        {{ form(form) }}
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
{%  endblock %}