{% extends 'base.html.twig' %}

{% block body %}
    <!--
    ==================================================
        Global Page Section Start
    ================================================== -->
    <section class="global-page-header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="block">
                        <h2>Contact</h2>
                    </div>
                </div>
            </div>
        </div>
    </section><!--/#page-header-->
<section id="contact-section">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="block">  
                        <div class="form-group wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".6s">
                            <h2 class="subtitle wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".3s">Contactez-nous</h2>
                        <p class="subtitle-des wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".5s">
                            Vous pouvez nous contacter en utilisant le formulaire ci-dessous. Nous vous répondrons dans les meilleurs délais.
                        </p>
<div class="contact-form">
<div class="form-group wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".6s">
{{ form(form) }}
          </div>
                </div>
                    </div>
                        </div>
                            </div>
                

<div class="col-md-6">
                         <div class="map-area">
                            <h2 class="subtitle  wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".3s">Venir nous voir</h2>
                            <p class="subtitle-des wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".5s">
                                NOS AMIS LES OISEAUX : l'association des amis des oiseaux est située au 84, rue Edith Piaf 83000 Toulon - France
                            </p>
                            <div class="map">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d46583.75094151087!2d5.898411774787793!3d43.136355710358416!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12c91b027b35b2fd%3A0x40819a5fd8fc830!2sToulon%2C+France!5e0!3m2!1sfr!2sbe!4v1505636289140" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
</div>

 <div class="row address-details">   
       <div class="col-md-4">
                    <div class="address wow fadeInLeft" data-wow-duration="500ms" data-wow-delay=".5s">
                        <i class="ion-ios-location-outline"></i>
                        <p>NOS AMIS LES OISEAUX 84, rue Edith Piaf<br>83000 Toulon France</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="email wow fadeInLeft" data-wow-duration="500ms" data-wow-delay=".7s">
                        <i class="ion-ios-email-outline"></i>
                        <p><a href="mailto:contact@kahilom.com" class="lien-nao">contact@kahilom.com</a></p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="phone wow fadeInLeft" data-wow-duration="500ms" data-wow-delay=".9s">
                        <i class="ion-ios-telephone-outline"></i>
                        <p>+ 33 4 45 22 22 22</p>
                    </div>
                </div>
    </div>
    </div>
</section>

{% endblock %}

