{% extends 'base.html.twig' %}

{% block body %}
    <!--
    ==================================================
        Global Page Section Start
    ================================================== -->
    <section class="global-page-header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="block">
                        <h2>Contact</h2>
                        <ol class="breadcrumb">
                            <li>
                                <a href="index.html">
                                    <i class="ion-ios-home"></i>
                                    Home
                                </a>
                            </li>
                            <li class="active">Contactez-nous</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section><!--/#page-header-->
<section id="contact-section">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="block">  
                        <div class="form-group wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".6s">
                            <h2 class="subtitle wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".3s">Contactez-nous</h2>
                        <p class="subtitle-des wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".5s">
                            Vous pouvez nous contacter en utilisant le formulaire ci-dessous. Nous vous répondrons dans les meilleurs délais.
                        </p>
<div class="contact-form">
<div class="form-group wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".6s">
{{ form(form) }}
          </div>
                </div>
                    </div>
                        </div>
                            </div>

    
       <div class="col-md-6">
                    <div class="address wow fadeInLeft" data-wow-duration="500ms" data-wow-delay=".5s">
                        <i class="ion-ios-location-outline"></i>
                        <h5>NAO - 12 Rue des routes<br>75017 Paris</h5>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="email wow fadeInLeft" data-wow-duration="500ms" data-wow-delay=".7s">
                        <i class="ion-ios-email-outline"></i>
                        <p><a href="mailto:contact@kahilom.com" class="lien-nao">contact@kahilom.com</a></p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="phone wow fadeInLeft" data-wow-duration="500ms" data-wow-delay=".9s">
                        <i class="ion-ios-telephone-outline"></i>
                        <p>+ 33 1 45 22 22 22</p>
                    </div>
                </div>
    </div>
</div>
</section>

{% endblock %}

