{# src/NAO/SiteBundle/Resources/views/Site/footer.html.twig #}
<!-- =========================
     START CALL TO ACTION
============================== -->
<div class="call_to_action">
    <div class="container">
        <div class="row wow fadeInLeftBig" data-wow-duration="1s">
            <div class="col-md-9">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et olore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
            </div>
            <div class="col-md-3">
                <a class="btn btn-primary btn-action" href="#" role="button">Download Now</a>
            </div>
        </div>
    </div>
</div>

<!-- END CALL TO ACTION -->