{# src/NAO/SiteBundle/Resources/views/Site/footer.html.twig #}
<!-- =========================
     START DOWNLOAD NOW
============================== -->
<section class="download page" id="DOWNLOAD">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <!-- DOWNLOAD NOW SECTION TITLE -->
                <div class="section_title">
                    <h2>download now</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
                </div>
                <!--END DOWNLOAD NOW SECTION TITLE -->
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="download_screen text-center wow fadeInUp" data-wow-duration="1s">
                    <img src="{{ asset('images/download_screen.png')}}" alt="">
                </div>
            </div>
        </div>
    </div>

    <div class="available_store">
        <div class="container  wow bounceInRight" data-wow-duration="1s">
            <div class="col-md-6">
                <div class="available_title">
                    <h2>Available on</h2>
                    <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                </div>
            </div>

            <!-- DOWNLOADABLE STORE -->
            <div class="col-md-6">
                <div class="row">
                    <a href="">
                        <div class="col-md-4 no_padding">
                            <div class="single_store">
                                <i class="fa fa-apple"></i>
                                <div class="store_inner">
                                    <h2>iOS</h2>
                                </div>
                            </div>
                        </div>
                    </a>
                    <div class="col-md-4 no_padding">
                        <a href="">
                            <div class="single_store">
                                <i class="fa fa-android"></i>
                                <div class="store_inner">
                                    <h2>ANDROID</h2>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4 no_padding">
                        <a href="">
                            <div class="single_store last">
                                <i class="fa fa-windows"></i>
                                <div class="store_inner">
                                    <h2>WINDOWS</h2>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <!-- END DOWNLOADABLE STORE -->
        </div>
    </div>
</section>
<!-- END DOWNLOAD -->