{# src/NAO/SiteBundle/Resources/views/Site/footer.html.twig #}
<!-- =========================
     FOOTER
============================== -->
<section class="footer">
    <nav class="navbar navbar-inverse navbar-fixed-bottom">
        <div class="container">
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-collapse">
                    <!-- NAV -->
                    <li><a href="{{ path('NAO_conditions') }}">Conditions générales</a> </li>
                    <li><a href="{{ path('NAO_mentions') }}">Mentions légales</a></li>
                    <li><a href="{{ path('NAO_contact') }}">Contact </a> </li>
                    <li><a href="{{ path('fos_user_registration_register') }}">Adhérer</a> </li>
                </ul>
            </div>
        </div>
    </nav>
</section>

<!-- END FOOTER -->
