{# src/NAO/SiteBundle/Resources/views/Site/footer.html.twig #}
<!--
==================================================
Footer Section Start
================================================== -->
<footer id="footer" class="footer">
    <div class="container">
        <div class="col-md-6">
            <p class="Copyright">Copyright: <span>2017</span>. NAO  <a href="http://www.Themefisher.com" class="lien-nao">Team-P5</a></p>
        </div>
        <div class="col-md-2">
        </div>
        <div class="col-md-3">
            <!-- Social Media -->
            <ul class="social">
                <li>
                    <a href="http://wwww.fb.com/nao-P5" class="Facebook">
                        <i class="ion-social-facebook"></i>
                    </a>
                </li>
                <li>
                    <a href="http://wwww.twitter.com/nao-P5" class="Twitter">
                        <i class="ion-social-twitter"></i>
                    </a>
                </li>
                <li>
                    <a href="http://wwww.linkedin.com/nao-P5" class="Linkedin">
                        <i class="ion-social-linkedin"></i>
                    </a>
                </li>
                <li>
                    <a href="http://wwww.fb.com/nao-P5" class="Google Plus">
                        <i class="ion-social-googleplus"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</footer> <!-- /#footer -->


