{# src/NAO/SiteBundle/Resources/views/Site/footer.html.twig #}
<!-- =========================
     FOOTER
============================== -->

<section class="copyright">
    <h2></h2>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="copy_right_text">
                    <!-- COPYRIGHT TEXT -->
                    <p>{{ 'now'|date('Y') }} © NAO - Nos amis les oiseaux </p>
                </div>

            </div>

            <div class="col-md-6">
                <div class="scroll_top">
                    <a href="#HOME"><i class="fa fa-angle-up"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END FOOTER -->
