{# src/NAO/SiteBundle/Resources/views/Site/footer.html.twig #}
<!-- =========================
     FOOTER
============================== -->
<section class="footer">
    <nav class="navbar navbar-inverse navbar-fixed-bottom">
        <div class="container">
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-collapse">
                    <!-- NAV -->
                    <li><a href="#HOME">Conditions générales</a> </li>
                    <li><a href="#ABOUT">FAQ </a> </li>
                    <li><a href="#FEATURES">Mentions légales</a></li>
                    <li><a href="#SCREENS">Plan du site</a> </li>
                    <li><a href="#DOWNLOAD">Contact </a> </li>
                    <li><a href="#CONTACT">Adhérer</a> </li>
                </ul>
            </div>        </div>
    </nav>
</section>

<!-- END FOOTER -->
