<section id="call-to-action">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <h2 class="title wow fadeInDown" data-wow-delay=".3s" data-wow-duration="500ms">Restez Informés</h2>
                        <p class="wow fadeInDown" data-wow-delay=".5s" data-wow-duration="500ms">Abonnez-vous à notre newsletter et recevez les dernières actus de la’association</p>
                        <form class="form-inline">
                            <div class="form-group">
                                <label class="sr-only" for="text">Texte</label>
                                <input type="text" class="form-control" id="text" placeholder="votre email">
                            </div>
                                <button type="submit" class="btn btn-default">INSCRIPTION</button>
                        </form>
                </div>
            </div>
        </div>
    </div>
</section>
