{# src/NAO/SiteBundle/Resources/views/Site/footer.html.twig #}
<!-- =========================
     Start FUN FACTS
============================== -->


<section class="fun_facts parallax">
    <div class="section_overlay">
        <div class="container wow bounceInLeft" data-wow-duration="1s">
            <div class="row text-center">
                <div class="col-md-3">
                    <div class="single_fun_facts">
                        <i class="pe-7s-cloud-download"></i>
                        <h2><span  class="counter_num">699</span> <span>+</span></h2>
                        <p>Downloads</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="single_fun_facts">
                        <i class="pe-7s-look"></i>
                        <h2><span  class="counter_num">1999</span> <span>+</span></h2>
                        <p>Likes</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="single_fun_facts">
                        <i class="pe-7s-comment"></i>
                        <h2><span  class="counter_num">199</span> <span>+</span></h2>
                        <p>Feedbacks</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="single_fun_facts">
                        <i class="pe-7s-cup"></i>
                        <h2><span  class="counter_num">10</span> <span>+</span></h2>
                        <p>Awards</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- END FUN FACTS -->