{#navbar menu    #}
    <nav class="navbar navbar-inverse navbar-menu" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
                <ul class="nav navbar-nav navbar-right">
                    <!-- NAV -->
                    <li><a href="{{ path('NAO_home') }}">ACCUEIL</a> </li>
                    <li><a href="#ABOUT">CARTE INTERACTIVE </a> </li>
                    <li><a href="{{ path('NAO_addObservation') }}">SOUMETTRE UNE OBSERVATION</a></li>
                    <li><a href="#SCREENS">QUI SOMMES NOUS</a> </li>
                    <li><a href="#DOWNLOAD">CONTACT</a> </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container- -->
    </nav>

