{#navbar recherch#}
    <nav class="navbar navbar-default navbar-search" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->

            <form class="navbar-form navbar-left inline-form">
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-eye-open"></span> Chercher</button>
                    <input type="search" class="input-sm form-control" placeholder="Recherche">
                </div>
            </form>
        </div>
        <!-- /.container- -->
    </nav>

