{% extends 'base.html.twig' %}

{% block body %}
    <!--
==================================================
Slider Section Start
================================================== -->
    <section id="hero-area" >
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="block wow fadeInUp" data-wow-delay=".3s">
                        <!-- Slider -->
                        <section class="cd-intro">
                            <h1 class="wow fadeInUp animated cd-headline slide" data-wow-delay=".4s" >
                                <span>Partez à la recherche des oiseaux</span><br>
                                <span class="cd-words-wrapper">
                                    <b class="is-visible">Découvrir</b>
                                    <b>Observer</b>
                                    <b>Protéger</b>
                                </span>
                            </h1>
                        </section> <!-- cd-intro -->
                        <!-- /.slider -->
                        <a class="btn-lines dark light wow fadeInUp animated smooth-scroll btn btn-default btn-green" data-wow-delay=".9s" href="{{ path('NAO_addObservation') }}" data-section="#works" >Soumettre une observation</a>
                    </div>
                </div>
            </div>
        </div>
    </section><!--/#main-slider-->

    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 col-xs-12">
                    <div class="block wow fadeInLeft" data-wow-delay=".3s" data-wow-duration="500ms">
                        <h2>
                            Découvrez l'association
                        </h2>
                        <p>
                            Un texte spécifique à l'association<br>
                            BlablaBlabla BlablaBlabla BlablaBlabla BlablaBlabla BlablaBlabla BlablaBlabla BlablaBlabla BlablaBlabla BlablaBlabla BlablaBlabla BlablaBlabla <a href="{{ path('NAO_about') }}">En savoir plus...</a>
                        </p>
                    </div>

                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="block wow fadeInRight" data-wow-delay=".3s" data-wow-duration="500ms">
                        <img src="{{ asset('images/about/about.jpg') }}" alt="A propos de NAO">
                    </div>
                </div>
            </div>
        </div>
    </section> <!-- /#about -->

{#==================================================#}
{#Portfolio Section Start#}
{#==================================================#}
    {% include 'default/lastObservation.html.twig' %}

{#==================================================#}
{#Call To Action Section Start#}
{#================================================== -->#}
    {% include 'default/formNewletter.html.twig' %}

{% endblock %}

