{% extends 'base.html.twig' %}

{% block body %}
    {% include 'default/header_lnd.html.twig'%}
    <div class="container home-container">
        <div class="row">
            <div class="col-md-12">
                <div class="logo text-center">
                    <!-- LOGO -->
                    <img width="125" height="55" src="{{ asset('images/logo.png')}}" alt="">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-sm-8">
                <div class="home_text">
                    <!-- TITLE AND DESC -->
                    <h1>Partez à la rencontre de <br>NOS AMIS LES OISEAUX</h1<br></h1>
                    <p>Photographiez et partagez vos photos auprès de milliers d'autres passionnés
                        <br>et participez à l'étude de la biodiversité aux côtés de naturalistes professionnels.</br> </p>


                    <div class="download-btn">
                        <!-- BUTTON -->
                        <a class="btn home-btn wow fadeInLeft" href="#DOWNLOAD">INSCRIVEZ-VOUS</a>
                        <a class="tuor btn wow fadeInRight" href="#ABOUT">Découvrir NAO <i class="fa fa-angle-down"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-md-offset-1 col-sm-4">
                <div class="home-iphone">
                    <img src="{{ asset('images/iPhone_Home.png')}}" alt="">
                </div>
            </div>
        </div>
    </div>

    <!-- =========================
        START ABOUT US SECTION
   ============================== -->
    {% include 'default/about.html.twig' %}
    {% include 'default/testimonial.html.twig' %}
    {% include 'default/feature.html.twig' %}
    {% include 'default/download.html.twig' %}
    {% include 'default/screen.html.twig' %}
    {% include 'default/contact_us.html.twig' %}
    {% include 'default/download_now.html.twig' %}
    {% include 'default/subscribe.html.twig' %}
    {% include 'default/footer_lnd.html.twig'%}

{% endblock %}

