{% extends 'base.html.twig' %}

{% block body %}

    <!--
    ==================================================
        Global Page Section Start
    ================================================== -->
    <section class="global-page-header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="block">
                        <h2>Chercher une Espèce</h2>
                        <ol class="breadcrumb">
                            <li>
                                <a href="index.html">
                                    <i class="ion-ios-home"></i>
                                    Home
                                </a>
                            </li>
                            <li class="active">Chercher une Espèce</li>
                        </ol>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="col m3 s12">
        <div class="card-panel">
            {{ form(form) }}
        </div>

{% endblock %}


        {% block javascripts %}
            {{ parent() }}

            <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAFLTldKU5XQdx7B_ldPv__ZHbTTISL9PU&callback=initMap"></script>
            <script src="{{ asset('js/nao-chercher.js') }}"></script>

        {%  endblock %}
