{# src/NAO/SiteBundle/Resources/views/Site/footer.html.twig #}
<!-- =========================
        START TESTIMONIAL SECTION
   ============================== -->

<section id="TESTIMONIAL" class="testimonial parallax">
    <div class="section_overlay">
        <div class="container">
            <div class="row">
                <div class="col-md-12 wow bounceInDown">
                    <div id="carousel-example-caption-testimonial" class="carousel slide" data-ride="carousel">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#carousel-example-caption-testimonial" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-caption-testimonial" data-slide-to="1"></li>
                            <li data-target="#carousel-example-caption-testimonial" data-slide-to="2"></li>
                        </ol>

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            <div class="item active">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-12 text-center">
                                            <!-- IMAGE -->
                                            <img src="{{ asset('images/client_1.png')}}" alt="">
                                            <div class="testimonial_caption">
                                                <!-- DESCRIPTION -->
                                                <h2>Dan Harmon</h2>
                                                <h4><span>SR. UI Designer,</span> Dcrazed</h4>
                                                <p>“Lorem ipsum dolor sit amet, consectetur adipisicing elit, do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.”</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-12 text-center">
                                            <!-- IMAGE -->
                                            <img src="{{ asset('images/client_2.png')}}" alt="">
                                            <div class="testimonial_caption">
                                                <!-- DESCRIPTION -->
                                                <h2>Allie Kingsley</h2>
                                                <h4><span>SR. Content Strategist,</span> Designscrazed</h4>
                                                <p>“Lorem ipsum dolor sit amet, consectetur adipisicing elit, do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.”</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-12 text-center">
                                            <!-- IMAGE -->
                                            <img src="{{ asset('images/client_3.png')}}" alt="">
                                            <div class="testimonial_caption">
                                                <!-- DESCRIPTION -->
                                                <h2>Joel Mchale</h2>
                                                <h4><span>SR. Developer,</span> Treehouse</h4>
                                                <p>“Lorem ipsum dolor sit amet, consectetur adipisicing elit, do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.”</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
