# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# https://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host: 127.0.0.1
    database_port: null
    database_name: nao
    database_user: root
    database_password: root
    mailer_transport: gmail
    mailer_host: smtp.gmail.com
    mailer_user: olivier.openc@gmail.com
    mailer_password: openclassroom
    secret: 836254eb40e703f64f707da96948138d01abcd7f
