{% extends '::base.html.twig' %}

{% block body %}

    <!--
    ==================================================
        Global Page Section Start
    ================================================== -->
    <section class="global-page-header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="block">
                        <h2>Espace administrateur</h2>
                        <ol class="breadcrumb">
                            <li>
                                <a href="#">
                                    Liste observations
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Valider obersations
                                </a>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section><!--/#page-header-->

    <!--
    ==================================================
        Admin Review Section Start
    ================================================== -->
    <section id="review-section">
    	<div class="container">
    		<div class="row">
    			<div class="col-md-6">
                	<h2 class="subtitle wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".3s">Observations les plus récentes</h2>
                	<table class="wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".8s">
                		<thead>
                			<tr>
                				<th>N°</th>
                				<th>Date</th>
                				<th>Espèce</th>
                				<th>Utilisateur</th>
                			</tr>
                			<tr>
                				<td>1</td>
                				<td>23/08/06</td>
                				<td>Canard</td>
                				<td>OrniPassion73</td>
                			</tr>
                			<tr>
                				<td>1</td>
                				<td>23/08/06</td>
                				<td>Canard</td>
                				<td>OrniPassion73</td>
                			</tr>                			
                			<tr>
                				<td>1</td>
                				<td>23/08/06</td>
                				<td>Canard</td>
                				<td>OrniPassion73</td>
                			</tr>                			
                			<tr>
                				<td>1</td>
                				<td>23/08/06</td>
                				<td>Canard</td>
                				<td>OrniPassion73</td>
                			</tr>                			
                			<tr>
                				<td>1</td>
                				<td>23/08/06</td>
                				<td>Canard</td>
                				<td>OrniPassion73</td>
                			</tr>                			
                			<tr>
                				<td>1</td>
                				<td>23/08/06</td>
                				<td>Canard</td>
                				<td>OrniPassion73</td>
                			</tr>                			
                			<tr>
                				<td>1</td>
                				<td>23/08/06</td>
                				<td>Canard</td>
                				<td>OrniPassion73</td>
                			</tr>                			
                			<tr>
                				<td>1</td>
                				<td>23/08/06</td>
                				<td>Canard</td>
                				<td>OrniPassion73</td>
                			</tr>                			
                			<tr>
                				<td>1</td>
                				<td>23/08/06</td>
                				<td>Canard</td>
                				<td>OrniPassion73</td>
                			</tr>
                		</thead>
                	</table>
    			</div>
    			<div class="col-md-6">
                	<h2 class="subtitle wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".5s">Observations à valider</h2>
                	<table class="wow fadeInDown" data-wow-duration="500ms" data-wow-delay="1.1s">
                		<thead>
                			<tr>
                				<th>N°</th>
                				<th>Date</th>
                				<th>Espèce</th>
                				<th>Utilisateur</th>
                			</tr>
                			<tr>
                				<td>1</td>
                				<td>23/08/06</td>
                				<td>Canard</td>
                				<td>OrniPassion73</td>
                			</tr>
                			<tr>
                				<td>1</td>
                				<td>23/08/06</td>
                				<td>Canard</td>
                				<td>OrniPassion73</td>
                			</tr>                			
                			<tr>
                				<td>1</td>
                				<td>23/08/06</td>
                				<td>Canard</td>
                				<td>OrniPassion73</td>
                			</tr>                			
                			<tr>
                				<td>1</td>
                				<td>23/08/06</td>
                				<td>Canard</td>
                				<td>OrniPassion73</td>
                			</tr>                			
                			<tr>
                				<td>1</td>
                				<td>23/08/06</td>
                				<td>Canard</td>
                				<td>OrniPassion73</td>
                			</tr>                			
                			<tr>
                				<td>1</td>
                				<td>23/08/06</td>
                				<td>Canard</td>
                				<td>OrniPassion73</td>
                			</tr>                			
                			<tr>
                				<td>1</td>
                				<td>23/08/06</td>
                				<td>Canard</td>
                				<td>OrniPassion73</td>
                			</tr>                			
                			<tr>
                				<td>1</td>
                				<td>23/08/06</td>
                				<td>Canard</td>
                				<td>OrniPassion73</td>
                			</tr>                			
                			<tr>
                				<td>1</td>
                				<td>23/08/06</td>
                				<td>Canard</td>
                				<td>OrniPassion73</td>
                			</tr>
                		</thead>
                	</table>
    			</div>
    		</div>
    	</div>
    </section>

{% endblock %}

