body{
    padding-top: 120px;
}
.image-nav{
    height: 80px;
    padding: 0px;
    position: absolute;
    left: 25px;
    top:5px;
}
.image-footer{
    height: 65px;
    position: absolute;
    top:-15px;
}

#map {
    height: 592px;
}

form.mj-form {
    margin: 0;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}

@media all and (max-device-width: 1024px) {
    /* Vos règles CSS pour iPad V */

}
@media all and (max-device-width: 768px) {
    /* Vos règles CSS pour iPad H */

}
@media all and (max-device-width: 480px) {
    /* Vos règles CSS pour les mobiles ici */

}

