body{
    padding-top: 120px;
}
.image-nav{
    height: 80px;
    padding: 0px;
    position: absolute;
    left: 25px;
    top:5px;
}
.image-footer{
    height: 65px;
    position: absolute;
    top:-15px;
}

#map {
    height: 475px;
}

#blocPosition {
    background: #99cc99;
    padding: 10px;
    margin: 10px;
}
#legend strong {
    margin-top: 0;
}

.btn-send {
    color: #fff;
    outline: none;
    background: #66cc99;
}
@media all and (max-device-width: 1024px) {
    /* Vos règles CSS pour iPad V */

}
@media all and (max-device-width: 768px) {
    /* Vos règles CSS pour iPad H */

}
@media all and (max-device-width: 480px) {
    /* Vos règles CSS pour les mobiles ici */

}

/*
================================================================

    Règles CSS des tableaux de l'espace d'administration

================================================================
*/

.admin-table
{
    width: 100%;
}

.admin-thead
{
    background-color: #009966;
    color: #FFFFFF;
}

.admin-table tr:nth-child(even)
{
    background-color: #99cc99 /*#dff8df*/;
}

.admin-table tr
{
    line-height: 26px;
}

.admin-table td[colspan="4"], .admin-table td[colspan="5"]
{
    font-weight: bold;
    padding-top: 20px;
    text-align: center;
}

#review-section
{
    padding: 90px 0;
}

.alert
{
    border-radius: 0;
    text-align: center;
}

.delete-button
{
    background-color: #e74c3c;
    color: white;
    padding: 10px;
}

.delete-button:hover
{
    background-color: #c0392b;
    color: white;
    text-decoration: none;
}


.validate-button
{
    background-color: #33cc66;
    color: white;
    padding: 10px;
}

.validate-button:hover
{
    background-color: #009966;
    color: white;
    text-decoration: none;   
}


.deletion-link
{
    color: #e74c3c;
}

.deletion-link:hover
{
    color: #c0392b;
}

.modal-button-margin
{
    margin-top: 40px;
}

.modal-content
{
    border-radius: 0;
}

.paging
{
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.paging li a
{
    background-color: #ecf0f1;
    color: #000000;
    padding: 5px;
    margin: 0px 2px;
}

.paging li a:hover, .paging li a:focus
{
    background-color: #bdc3c7;
    text-decoration: none;
}

.glyphicon
{
    font-size: 1.2em;
    margin-right: 5px;
    vertical-align: middle;
}

.validation-link
{
    color: #33cc66;
}

.validation-link:hover
{
    color: #009966;
}

.modification-link
{
    color: #3498db;
}

.modification-link
{
    color: #2980b9;
}
