body{
    padding-top: 93px;
}
.image-nav{
    height: 80px;
    padding: 0px;
    position: absolute;
    left: 25px;
    top:5px;
}
.image-footer{
    height: 65px;
    position: absolute;
    top:-15px;
}

#map, #mapTaxref, #mapObservation {
    height: 475px;
}

#blocPosition {
    background: #99cc99;
    padding: 10px;
    margin: 10px;
}
#legend strong {
    margin-top: 0;
}

.btn-green:hover
{
    background-color: #e67e22 !important;
}

.btn-send {
    color: #fff;
    outline: none;
    background: #66cc99;
}
.lien-nao:link
{
	color: #727272;
}

.lien-nao:hover 
{
  text-decoration: none;
   color: #66cc99;
}

.texte-about:p 
{
  font-size: 25px;
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
  margin-top: 20px;
  text-align: justify;
}

.buttons
{
    padding-top: 50px !important;
}

.buttons-padding
{
    padding-top: 0px !important;
    padding-left: 50px !important;
}

.call-to-action-2
{
    padding: 20px 60px !important;
}

.img-vignette
{
    background-size: cover;
    width: 210px;
    height: 110px;
    /*border-radius: 6px;*/
}

.img-taxref
{
    height: 100%;
    margin: 0 auto;
}

.img-wrapper, .overlay
{
    height: 150px;
}

.img-wrapper img
{
    width: 100%;
}

.image img {
    display: none;
}

.tab-center {
    text-align: center;
    padding-top: 45px;
    font-size: 26px;
}

.img-observation
{
    background-size: cover;
    width: 555px;
    height: 100%;
}

.img-vignette
{
    background-size: cover;
    width: 210px;
    height: 110px;
}
.image img {
    display: none;
}

.tab-center {
    text-align: center;
    padding-top: 45px;
    font-size: 26px;
}

@media all and (max-device-width: 768px) {
    .img-vignette
    {
        background-size: cover;
        width: 210px;
        height: 110px;
    }
    .image img {
        display: none;
    }
    .tab-center {
        text-align: center;
        padding-top: 45px;
        font-size: 26px;
    }
    .img-observation
    {
        background-size: cover;
        width: 744px;
        height: 100%;
    }
}

@media all and (max-device-width: 480px) {
    .img-vignette
    {
        background-size: cover;
        width: 90px;
        height: 48px;
    }
    .image img {
        display: none;
    }
    .tab-center {
        text-align: center;
        padding-top: 13px;
        font-size: 13px;
    }
    .img-observation
    {
        background-size: cover;
        width: 345px;
        height: 100%;
    }
}



/*
================================================================

    Admin CSS definitions

================================================================
*/

#review-section
{
    padding: 90px 0;
}

.admin-table
{
    width: 100%;
}

.admin-thead
{
    background-color: #66cc99;
    color: #FFFFFF;
}

.admin-table tr
{
    line-height: 26px;
}

.admin-table .admin-table-body tr:hover, .admin-table .admin-table-body tr:focus
{
    background-color: #ecf0f1;
    outline: 0;
}

.admin-table td[colspan="4"], .admin-table td[colspan="5"]
{
    font-weight: bold;
    padding-top: 20px;
    text-align: center;
}

.admin-table img
{
    max-width: 70%;
}

.alert
{
    border-radius: 0;
    text-align: center;
}

.deletion-link
{
    color: #e74c3c;
}

.deletion-link:hover, .deletion-link:focus
{
    color: #c0392b;
    outline: 0;
}

.glyphicon
{
    font-size: 1.2em;
    margin-right: 5px;
    vertical-align: middle;
}

.img-container
{
    padding: 10px 0 15px 0;
    text-align: center;
}

.modification-link
{
    color: #3498db;
}

.modification-link
{
    color: #2980b9;
}

.validation-link
{
    color: #33cc66;
}

.validation-link:hover, .validation-link:focus
{
    color: #009966;
    outline: 0;
}

/*
================================================================

    Admin edit observation page CSS Definitions

================================================================
*/

.observation-edit-padding
{
    padding: 50px 0;
}

.edit-img-padding
{
    padding-top: 9px;
}

.edit-img-responsive
{
    display: block;
    margin: auto;
    height: 100%;
}

.img-view
{
    height: 300px;
}

/*
================================================================

    Admin modal windows CSS definitions

================================================================
*/

.delete-button
{
    background-color: #e74c3c;
    color: white;
    padding: 10px;
}

.delete-button:hover, .delete-button:focus
{
    background-color: #c0392b;
    color: white;
    outline: 0;
    text-decoration: none;
}

.modal-button-margin
{
    margin-top: 40px;
}

.modal-content
{
    border-radius: 0;
}

.no-padding
{
    padding: 0;
}

.validate-button
{
    background-color: #33cc66;
    color: white;
    padding: 10px;
}

.validate-button:hover, .validate-button:focus
{
    background-color: #009966;
    color: white;
    outline: 0;
    text-decoration: none;   
}

/*
================================================================

    Admin popover CSS Definitions

================================================================
*/

.popover
{
    border: none;
    border-radius: 0;
    text-align: justify;
}

.popover p
{
    font-size: 1em;
}

/*
================================================================

    Admin paging and sorting CSS Definitions

================================================================
*/

.current-page
{
    color: #ffffff !important;
    background-color: #bdc3c7 !important;
}

.not-active
{
    cursor: none;
    opacity: 0.5;
    pointer-events: none;
}

.paging
{
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.paging li a
{
    background-color: #ecf0f1;
    color: #000000;
    padding: 5px;
    margin: 0px 2px;
}

.paging li a:hover, .paging li a:focus
{
    background-color: #bdc3c7;
    text-decoration: none;
}

.sorting-form-padding
{
    padding: 15px 0 0 0;
}
