{% extends 'base.html.twig' %}

{% block body %}
        <!-- 
        ================================================== 
            Global Page Section Start
        ================================================== -->
        <section class="global-page-header">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="block">
                            <h2>{{ taxref.nomVern }}</h2>
                            <ol class="breadcrumb">
                                <li>
                                    <a href="index.html">
                                        <i class="ion-ios-home"></i>
                                        Home
                                    </a>
                                </li>
                                <li class="active">Détail oiseau</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>   
        </section><!--/#Page header-->

         <!-- 
        ================================================== 
            Taxref's Details Section  Start
        ================================================== -->       
        <div id ="mapTaxref"></div>

        <!-- 
        ================================================== 
            Taxref's Details Section  Start
        ================================================== -->
        {% include 'taxref/detailTaxref.html.twig' %}

         <!-- 
        ================================================== 
            Taxref's Details Section  Start
        ================================================== -->       
        <div id ="mapObservation"></div>

        <!-- 
        ================================================== 
            Taxref's Observations Section Start
        ================================================== -->
        {% include 'taxref/observationsTaxref.html.twig' %}

{% endblock %}


{% block javascripts %}

        <script src="{{ asset('js/nao-taxref-mapping.js') }}"></script>
        <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAFLTldKU5XQdx7B_ldPv__ZHbTTISL9PU&callback=initMap"></script>

{% endblock %}
