{% extends 'base.html.twig' %}

{% block body %}
        <!-- 
        ================================================== 
            Global Page Section Start
        ================================================== -->
        <section class="global-page-header">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="block">
                            <h2>Détail oiseau</h2>
                            <ol class="breadcrumb">
                                <li>
                                    <a href="index.html">
                                        <i class="ion-ios-home"></i>
                                        Home
                                    </a>
                                </li>
                                <li class="active">Détail oiseau</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>   
        </section><!--/#Page header-->


        <!-- 
        ================================================== 
            Taxref's Details Section  Start
        ================================================== -->
        {# {% include 'taxref/detailTaxref.html.twig' %} #}
        Rien pour le moment

        <!-- 
        ================================================== 
            Taxref's Observations Section Start
        ================================================== -->
        {# {% include 'taxref/observationsTaxref.html.twig' %} #}

  {% endblock %}
